.green {
  background-color: #5fbd6e;
  height: 50px;
}

.nopad {
  margin:0;
  padding:0;
}

.header {
  padding-top: 10px;
}

.white {
  color: #FFFFFF;
}

.right {
  padding-right: 10px;
  text-align: right;
}

.centre {
  text-align: center;
}

.logo {
  padding-top: 25px;
  padding-bottom: 10px;
}

.bodyimg {
  max-width: 500px;
  width: 100%;
  height: auto;
}

.title {
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: 'Catamaran', sans-serif;
  font-size: 60pt;
}

.telephone {
  padding-right: 5px;
}

ul.menu {
  list-style-type:none;
  position:absolute;
  height:100%;
  line-height:50px;
  right:16px;
}

ul.menu li {
  display: inline;
}

ul.menu li a {
  height:100%;
  display:inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

ul.body {
  padding-top: 0.4vw;
  font-size: 1.7vw;
}

ul.body li {
  padding-top: 1.33vw;
  line-height: 35px;
}

a:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #363c6b
}

@media (max-width: 992px) {
  .body {
    background-image: url("Images/horsehead.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-clip: content-box;
  }

  ul.body {
    padding-left: 200px;
  }
}
